<template>
  <div class="tile is-parent is-3 has-text-centered login" v-show="show">
    <article class="tile is-child box">
      <h1 class="title">管理员登录</h1>
      <div class="block">
        <p class="control has-icon">
          <input class="input" type="text" placeholder="用户名" v-model="username">
          <i class="fa fa-user-circle"></i>
        </p>
        <p class="control has-icon">
          <input class="input" type="password" placeholder="密码" v-model="password">
          <i class="fa fa-lock"></i>
        </p>
        <p class="control">
          <button class="button is-success" @click="login">
            登录
          </button>
        </p>
      </div>
    </article>
  </div>
</template>

<script>
// import { mapGetters, mapActions } from 'vuex'
import { mapActions } from 'vuex'

export default {
  props: {
    show: Boolean
  },
  // computed: mapGetters({
  //   login: 'login'
  // }),
  methods: {
    getCookie (name) {
      var reg = new RegExp('(^| )' + name + '=([^;]*)(;|$)')
      console.log('cookie:')
      console.log(document.cookie)
      var arr = document.cookie.match(reg)
      if (arr) {
        return unescape(arr[2])
      } else {
        return null
      }
    },
    login () {
      var _this = this
      console.log('login')
      this.$http.post('login/login', {'userName': this.username, 'pwd': this.password})
      .then((response) => {
        // 成功回调
        console.log('data3:' + JSON.stringify(response))
        if (response.body.status.code === 0) {
          var url = {path: '/'}
          _this.$router.push(url)
          _this.loginState(true)
          sessionStorage.setItem('loginState', 1)
        } else {
          alert('登录失败')
        }
      }, function (response) {
        // 失败回调
        console.log('data:' + JSON.stringify(response))
      })
    },
    ...mapActions([
      'loginState'
    ])
  },
  data () {
    return {
      username: '',
      password: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login .is-success {
  width: 100%;
}

.login button {
  display: block;
}
</style>
