<template>
  <div>
    <div class="tile is-parent add-body">
      <article class="tile is-child box">
        <h1 class="title"></h1>
        <div class="block">
          <!-- <label class="label">Name</label> -->
          <p class="control">
            <input class="input" type="text" placeholder="标题" v-model="title">
          </p>
          <p class="control">
            <textarea class="textarea" placeholder="内容" v-model="content"></textarea>
          </p>
          <p class="control">
            <button class="button is-primary" @click="submit" :disabled="!state">确认</button>
            <!-- <button class="button is-primary" @click="submit">确认</button> -->
            <button class="button is-link" @click="cancel">取消</button>
          </p>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
// require('moment')
import 'jquery-form/jquery.form.js'
// import datepicker from 'vue-date-picker'
// import $ from 'jquery'
// import Datepicker from 'vue-bulma-datepicker'
// import router from 'vue-router'

export default {
  ready () {
    console.log('route:' + JSON.stringify(this.route))
  },
  name: 'Settings',
  // components: {
  //   Datepicker
  // },
  methods: {
    submit: function () {
      var _this = this
      if (this.$route.query.id) {
        this.$http.post('excelqa/updateqa',
          {
            'id': this.id,
            'content': this.content,
            'title': this.title
          })
        .then((response) => {
          // 成功回调
          console.log('data3:' + JSON.stringify(response.body))
          var url = {path: '/excel'}
          _this.$router.push(url)
        }, function (response) {
          // 失败回调
        })
      } else {
        this.$http.post('excelqa/insertqa', {'content': this.content, 'title': this.title})
        .then((response) => {
          // 成功回调
          console.log('data3:' + JSON.stringify(response.body))
          var url = {path: '/excel'}
          _this.$router.push(url)
        }, function (response) {
          // 失败回调
        })
      }
    },
    cancel: function () {
      history.back()
    }
  },
  computed: {
    state () {
      return this.content.length > 0 && this.title.length > 0
    }
  },
  mounted: function () {
    this.content = this.$route.query.content || ''
    this.title = this.$route.query.title || ''
    this.id = this.$route.query.id || ''
  },
  data () {
    return {
      content: '',
      title: '',
      id: ''
    }
  }
}
</script>

<style>

.uploader-input-box{
    position: relative;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 72px;
    height: 72px;
    border: 1px solid #979797;
}

.uploader-input-box:after, .uploader-input-box:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #979797;
}

.uploader-input-box:before {
    width: 1px;
    height: 33px;
}

.uploader-input-box:after {
    width: 33px;
    height: 1px;
}

.uploader-input{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.weui-uploader__file{
  width: 200px;
}

ul, li {
  list-style:none; 
}

.img-remove {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 20px;
    height: 20px;
    padding: 2px;
    overflow: initial;
    display: inline-block;
    vertical-align: middle;
    background-color: #f0312f;
    border-radius: 21px;
    border: 2px solid #fff;
}

.img-remove:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.img-remove:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.img-remove:after, .img-remove:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 80%;
    top: 50%;
    left: 10%;
    background: #fff;
}

</style>
