<template>
  <section class="content">
    <div class="row center-block">
      <h2>内容列表</h2>
      <div class="col-md-12">
        
        <div class="box">
          <div class="box-header">
            <router-link :to="{path: '/macDetail'}" >
              <button class="button is-primary">新增</button>
            </router-link>
          </div>
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div id="example1_length" class="dataTables_length">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 5px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">id</th>
                        <th aria-label="Browser: activate to sort column ascending" style="width: 207px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">标题</th>
                        <th aria-label="Platform(s): activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">内容</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 10px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr :class="index%2 === 0 ? 'even': 'odd'" role="row" v-for="(item, index) in list">
                        <td class="sorting_1">{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.content}}</td>
                        <td><router-link :to="{ path: '/macDetail', query: { 'id': item.id, 'title': item.title, 'content': item.content}}">修改</router-link></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="1" rowspan="1">id</th>
                        <th colspan="1" rowspan="1">标题</th>
                        <th colspan="1" rowspan="1">内容</th>
                        <th colspan="1" rowspan="1">操作</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from 'jquery'

// Require needed datatables modules
require('datatables.net')
require('datatables.net-bs')

module.exports = {
  name: 'Tables',
  mounted: function () {
    this.$http.post('macqa/get_list', {'id': 1, 'count': 99999})
      .then((response) => {
        // 成功回调
        console.log('data3:' + JSON.stringify(response.body.jcdata))
        this.list = response.body.jcdata
        this.$nextTick(function () {
          $('#example1').DataTable({
            'aaSorting': [[0, 'desc']]
          })
        })
      }, function (response) {
        // 失败回调
      })
  },
  filters: {
    timechg (val) {
      var timeStamp = new Date(parseInt(val))
      var fmt = 'yyyyMMdd'
      var o = {
        'M+': timeStamp.getMonth() + 1,
        'd+': timeStamp.getDate(),
        'h+': timeStamp.getHours(),
        'm+': timeStamp.getMinutes(),
        's+': timeStamp.getSeconds(),
        'q+': Math.floor((timeStamp.getMonth() + 3) / 3),
        'S': timeStamp.getMilliseconds()
      }
      if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (timeStamp.getFullYear() + '').substr(4 - RegExp.$1.length))
      for (var k in o) {
        if (new RegExp('(' + k + ')').test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (('00' + o[k]).substr(('' + o[k]).length)))
      }
      return fmt
    }
  },
  data () {
    return {
      list: []
    }
  }
}
</script>

<style>
/* Using the bootstrap style, but overriding the font to not draw in
   the Glyphicons Halflings font as an additional requirement for sorting icons.

   An alternative to the solution active below is to use the jquery style
   which uses images, but the color on the images does not match adminlte.

@import url('/static/js/plugins/datatables/jquery.dataTables.min.css');
*/

/*@import url('/assets/dataTables.bootstrap.css');*/

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
}

table.dataTable thead .sorting_asc:after {
  content: "\f0dd";
}

table.dataTable thead .sorting_desc:after {
  content: "\f0de";
}

.box-header {
  text-align: right;
  display: block;
}
.dataTables_filter {
  float: right;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

</style>
