<template>
  <section class="content">
    <div class="row center-block">
      <h2>内容列表</h2>
      <div class="col-md-12">
        
        <div class="box">
          <!-- <div class="box-header">
            <router-link :to="{path: '/movieDetail'}" >
              <button class="button is-primary">新增</button>
            </router-link>
          </div> -->
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div id="example1_length" class="dataTables_length">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 5px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">id</th>
                        <th aria-label="Browser: activate to sort column ascending" style="width: 50px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">电影名称</th>
                        <th aria-label="Platform(s): activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">电影图片</th>
                        <th aria-label="Engine version: activate to sort column ascending" style="width: 10px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">上映年份</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 20px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">电影类型</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 10px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">又名</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">剧情简介</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">影人</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 10px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">推荐理由</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 10px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">是否展示</th>
                        <th aria-label="CSS grade: activate to sort column ascending" style="width: 10px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr :class="index%2 === 0 ? 'even': 'odd'" role="row" v-for="(item, index) in list">
                        <td class="sorting_1">{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td><img :src="item.detailJson.images" style="width:100px;height: 100px"></td>
                        <td>
                        <!-- {{item.creatTime}} -->
                          {{item.detailJson.year}}
                        </td>
                        <!-- <td><span v-for="val in item.detail.genres">{{val}}</span></td> -->
                        <td><p v-for="(val, index) in item.detailJson.genres">{{val}}</p></td>
                        <td><p v-for="(val, index) in item.detailJson.aka">{{val}}</p></td>
                        <!-- <td>{{item.detailJson.aka}}</td> -->
                        <td>{{item.detailJson.summary}}</td>
                        <!-- <td></td> -->
                        <!-- <td>{{item.detailJson.casts}}</td> -->
                        <td>
                          <div v-for="cast in item.detailJson.casts">
                            <div  v-if="cast.avatars&&cast.avatars.small">
                              <img :src="cast.avatars.small">
                            </div>
                            <p>{{cast.name}}</p>
                          </div>
                        </td>
                        <!-- <td></td> -->
                        <td>{{item.detailJson.recommend}}</td>
                        <td>{{item.isShow?'否':'是'}}</td>
                        <td><router-link :to="{ path: '/movieDetail', query: { 'id': item.id, 'name': item.name, 'detail': item.detail, 'isShow': item.isShow }}">修改</router-link></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="1" rowspan="1">id</th>
                        <th colspan="1" rowspan="1">电影名称</th>
                        <th colspan="1" rowspan="1">电影图片</th>
                        <th colspan="1" rowspan="1">上映年份</th>
                        <th colspan="1" rowspan="1">电影类型</th>
                        <th colspan="1" rowspan="1">又名</th>
                        <th colspan="1" rowspan="1">剧情简介</th>
                        <th colspan="1" rowspan="1">影人</th>
                        <th colspan="1" rowspan="1">推荐理由</th>
                        <th colspan="1" rowspan="1">是否展示</th>
                        <th colspan="1" rowspan="1">操作</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from 'jquery'
import Cleave from 'vue-cleave'

// Require needed datatables modules
require('datatables.net')
require('datatables.net-bs')

module.exports = {
  name: 'Tables',
  components: {
    Cleave
  },
  mounted: function () {
    this.$http.post('movie/get_list', {'id': 1, 'count': 99999})
      .then((response) => {
        // 成功回调
        // console.log('data3:' + JSON.stringify(response.body.jcdata))
        this.list = response.body.jcdata
        var detail
        // var casts
        // for (var item of this.list) {
        this.list.forEach(function (item) {
          detail = JSON.parse(item.detail)
          item.detailJson = detail
          console.log('type:' + item.detailJson.genres + ' types:' + typeof item.detailJson.genres)
          // casts = JSON.parse(item.detail.casts)
          // item.item.detail.casts = casts
          // console.log('***************************cast:' + cast)
          // genres = JSON.parse(item.detail.genres)
          // item.detail.genres = genres
        })
        // this.list.forEach(function (item) {
        //   console.log('----------item.id:' + item.id + 'item.detail:' + item.detail)
        //   if (item.id <= 79) {
        //     continue
        //   }
        //   detail = JSON.parse(item.detail)
        //   console.log('-------------item.id:' + item.id + 'item.detail2' + JSON.stringify(detail))
        //   // item.detail = detail
        // })

        // console.log('detail:' + JSON.stringify(this.list))
        this.$nextTick(function () {
          $('#example1').DataTable({
            'aaSorting': [[0, 'desc']]
          })
        })
      }, function (response) {
        // 失败回调
      })
  },
  filters: {
    timechg (val) {
      var timeStamp = new Date(parseInt(val))
      var fmt = 'yyyyMMdd'
      var o = {
        'M+': timeStamp.getMonth() + 1,
        'd+': timeStamp.getDate(),
        'h+': timeStamp.getHours(),
        'm+': timeStamp.getMinutes(),
        's+': timeStamp.getSeconds(),
        'q+': Math.floor((timeStamp.getMonth() + 3) / 3),
        'S': timeStamp.getMilliseconds()
      }
      if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (timeStamp.getFullYear() + '').substr(4 - RegExp.$1.length))
      for (var k in o) {
        if (new RegExp('(' + k + ')').test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (('00' + o[k]).substr(('' + o[k]).length)))
      }
      return fmt
    },
    formatStr (val) {
      // return val.replace(/\[/g, '').replace(/\]/g, '').replace(/\"/g, '')
      return val
    }
  },
  data () {
    return {
      list: []
    }
  }
}
</script>

<style>
/* Using the bootstrap style, but overriding the font to not draw in
   the Glyphicons Halflings font as an additional requirement for sorting icons.

   An alternative to the solution active below is to use the jquery style
   which uses images, but the color on the images does not match adminlte.

@import url('/static/js/plugins/datatables/jquery.dataTables.min.css');
*/

/*@import url('/assets/dataTables.bootstrap.css');*/

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
}

table.dataTable thead .sorting_asc:after {
  content: "\f0dd";
}

table.dataTable thead .sorting_desc:after {
  content: "\f0de";
}

.box-header {
  text-align: right;
  display: block;
}
.dataTables_filter {
  float: right;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

</style>
