<template>
  <div>
    <div class="tile is-parent add-body">
      <article class="tile is-child box">
        <h1 class="title"></h1>
        <div class="block">
          <p class="control">
            <textarea class="textarea" placeholder="推荐理由" v-model="detailJson.recommend"></textarea>
          </p>
          <p class="control">
            <label class="checkbox">
              <input type="checkbox" v-model="showChecked">
              <!-- <input type="checkbox" :checked="!isShow"> -->
              是否展示
            </label>
          </p>
          <p class="control">
            <button class="button is-primary" @click="submit" :disabled="!state">确认</button>
            <!-- <button class="button is-primary" @click="submit">确认</button> -->
            <button class="button is-link" @click="cancel">取消</button>
          </p>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
// require('moment')
import 'jquery-form/jquery.form.js'
// import datepicker from 'vue-date-picker'
import $ from 'jquery'
import Datepicker from 'vue-bulma-datepicker'
// import router from 'vue-router'

export default {
  ready () {
    console.log('route:' + JSON.stringify(this.route))
  },
  name: 'Settings',
  components: {
    Datepicker
  },
  methods: {
    imgInputChange (e) {
      console.log(e)
      var _this = this
      _this.state = false
      _this.files = e.target.files
      if (!_this.files.length) return
      $('.submit').attr('disabled', true)
      $('.submit').css('background-color', '#D8D8D8')

      _this.createImage()
      $('#form1').ajaxForm({
        dataType: 'json',
        success: function (data) {
          console.log('data:' + data + ' datajson: ' + JSON.stringify(data))
          _this.images.push(data.jcdata[0].url)
          _this.state = true
        }
      })
      $('#form1').submit()
    },
    createImage () {
      if (typeof FileReader === 'undefined') {
        console.log('您的浏览器不支持图片上传，请升级您的浏览器')
        return false
      }
      // var image = new Image();
      var vm = this
      var leng = vm.files.length
      for (var i = 0; i < leng; i++) {
        var reader = new FileReader()
        reader.readAsDataURL(vm.files[i])
        reader.onload = function (e) {
          console.log(e)
          // var imageInfo = {image: e.target.result, state: false}
          vm.imagesShow.push(e.target.result)
        }
      }
    },
    delImage: function (index) {
      console.log('index:' + index)
      this.images.splice(index, 1)
      this.imagesShow.splice(index, 1)
      this.$emit('on-del', index)
    },
    submit: function () {
      var _this = this
      console.log('this.recommend:' + this.detailJson.recommend + ' this.showChecked:' + this.showChecked)
      this.detail = JSON.stringify(this.detailJson)
      console.log('this.detail:' + this.detail)
      if (this.$route.query.id) {
        this.$http.post('movie/update',
          {
            'id': this.id,
            'movieName': this.name,
            'detail': this.detail,
            'isShow': this.showChecked ? '0' : '1'
          })
        .then((response) => {
          // 成功回调
          console.log('data3:' + JSON.stringify(response.body))
          var url = {path: '/movie'}
          _this.$router.push(url)
        }, function (response) {
          // 失败回调
        })
      } else {
        this.$http.post('dayup/insert', {'imageUrl': this.images[0], 'content': this.content, 'name': this.name, 'showTime': this.showTime})
        .then((response) => {
          // 成功回调
          console.log('data3:' + JSON.stringify(response.body))
          var url = {path: '/movie'}
          _this.$router.push(url)
        }, function (response) {
          // 失败回调
        })
      }
    },
    cancel: function () {
      history.back()
    }
  },
  computed: {
    state () {
      return this.detail.length > 0
    }
  },
  mounted: function () {
    this.name = this.$route.query.name
    this.detail = this.$route.query.detail
    this.detailJson = JSON.parse(this.detail)
    this.isShow = this.$route.query.isShow
    // this.$set('isShow', this.$route.query.isShow)
    this.showChecked = parseInt(this.isShow) === 0
    this.id = this.$route.query.id
  },
  data () {
    return {
      name: '',
      detail: '',
      detailJson: [],
      isShow: 1,
      id: '',
      showChecked: false
    }
  }
}
</script>

<style>

.uploader-input-box{
    position: relative;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 72px;
    height: 72px;
    border: 1px solid #979797;
}

.uploader-input-box:after, .uploader-input-box:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #979797;
}

.uploader-input-box:before {
    width: 1px;
    height: 33px;
}

.uploader-input-box:after {
    width: 33px;
    height: 1px;
}

.uploader-input{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.weui-uploader__file{
  width: 200px;
}

ul, li {
  list-style:none; 
}

.img-remove {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 20px;
    height: 20px;
    padding: 2px;
    overflow: initial;
    display: inline-block;
    vertical-align: middle;
    background-color: #f0312f;
    border-radius: 21px;
    border: 2px solid #fff;
}

.img-remove:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.img-remove:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.img-remove:after, .img-remove:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 80%;
    top: 50%;
    left: 10%;
    background: #fff;
}

</style>
